body {
  min-height: 2000px;
  padding-top: 70px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* navbar navbar-inverse */
.navbar {
  height: 50px !important;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
  background: black;
}

.navbar-inverse {
  background: #041218;
}

a {
  color: #00b7ff;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  font-size: 1.3rem;
  border-radius: 0px;
}

.btn-info {
  background: #3b5998 !important;
}

.btn-primary {
  background: #0f0d01 !important;
}

.btn-default {
  background: #0a0a08 !important;
  color: white;
}

.alert {
  padding: 0.4rem;
  border-radius: 1px;
  font-size: 1.2rem;
}

.form-control {
  padding: 1.5rem 0.6rem;
  border: 1px solid rgb(197, 191, 191);
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}

.form-control:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: none;
}

.dropdown-menu {
  border-radius: 0px;
  padding: 0.7rem 0;
  box-shadow: none;
}

/* Code-screen css */

#code-screen {
  height: 100%;
}
